@charset "UTF-8";

body {
  background-color: #c0c0c0;
  font-family: 'notosans';
  text-align: center;
}

h1 {
  font: size 18px;
  border: 6px double #8e6bad;
  border-radius: 20px;
  padding:10px 50px;
  margin: 50px auto;
  width: 500px;
}

h2{
  font: size 18px;
  padding: 15px 50px;
  margin: 100px auto;
  width: 500px;
}

em {
  font: size 18px;
  border-radius: 20px;
  padding: 30px 50px;
}

h3 {
  font: size 18px;
  border: 3px solid #8e6bad;
  border-radius: 20px;
  padding: 15px 50px;
  margin: 100px auto;
  width: 150px;
}

h4 {
  font: size 18px;
  border-radius: 20px;
  padding: 30px 20px;
  margin: 20px auto;
  width: 500px;
}

em {
  margin-bottom: 20px;
}

img {
  border-radius: 2cm;
  margin-bottom: 10px;
  border: 5px dotted #666666;
}

p{
  margin: 40px auto;
}

a {
  background-image: ;
  display: block;
  padding: 20px 0;
  border-radius: 40px;
  color: #f8f1ff;
  font-weight: bold;
}

ul, li {
  margin-bottom: 20px;
  width: 300px;
  margin: auto;
}

table, tr {
  margin-bottom: 20px;
  padding:1px 10px;
  margin: 50px auto;
  width: 500px;
}

dt
{
  margin-right: 100px;
}

dd
{
  margin-left: 100px;
}

ol, th, td
{
  text-align: center;
}